.form-container {
    margin-left: 1350px;
    margin-right: 1350px;
    margin-top: 350px;
    width: 500px;
    border: 2px solid black;
    padding: 10px;
    background-color: rgb(231, 228, 228);
}

@media (max-width: 1600px) {
    .form-container {
        margin-left: 10%;
        margin-right: 10%;
        margin-top: 250px;
    }
}

@media (max-width: 1200px) {
    .form-container {
        margin-left: 5%;
        margin-right: 5%;
        margin-top: 150px;
    }
}

@media (max-width: 992px) {
    .form-container {
        width: 80%;
        margin: 100px auto;
    }
}

@media (max-width: 576px) {
    .form-container {
        width: 90%;
        margin: 50px auto;
    }
}

.form-register {
    margin-left: 165px;
    margin-right: 165px;

}

input{
    outline: none;
}

